<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: "<%= @title %>", 
                x: -20 //center
            },
            subtitle: {
                text: '',/*Source: WorldClimate.com*/
                x: -20
            },
            xAxis: {
                categories: <%= @dates_json %>
            },
            yAxis: {
                title: {
                    text: 'Rate'
                },                
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Q.1',
                data: <%= @q1 %>
            }, {
                name: 'Q.2',
                data: <%= @q2 %>
            }, {
                name: 'Q.3',
                data: <%= @q3 %>
            }, {
                name: 'AVG',
                data: <%= @avg %>
            }]
        });
    });
    
});
		</script>
<!--<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script> -->
<%= javascript_include_tag "highcharts" %> 
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script>
function call_some_function(){
          var location = "";
          var days = "";
          $("select#location option:selected").each(function () {
                location += $(this).text() + " ";
              });
          $("select#days option:selected").each(function () {
                days += $(this).text() + " ";
              });
           var url = "/home/index?location="+location+"&days="+days;   
          
          window.location.href = url;          
        }

</script>

